:root {
    --color-logo: #595653;
    --color-dark: #1F1F1F;
    --color-black: #313131;
    --color-black-70: rgb(49 49 49 / 70%);
    --color-black-60: rgb(49 49 49 / 60%);
    --color-white: #ffffff;
    --color-pearl: #E9DED4;
    --color-yellow: #FBCE51;
    --color-red: #F54932;
    --color-border: #D0D0D0;
    --color-blue: #3057A2;
}